:root {
  --color-1: #222222;
  --color-2: #fd5825;
  --color-3: #f7efe5;
  --color-4: #3fabaf;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100px;
  padding-left: 10%;
  padding-right: 10%;
  box-sizing: border-box;
  position: relative;
}
header p {
  font-size: 18px;
  letter-spacing: 2px;
  margin: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
a {
  color: var(--color-3);
  text-decoration: none;
}
